.container{
	max-width:1170px;
	width:100%;
	margin: 0 auto;
}
.logo img{
	width: 100px;
}
/*base classes*/
.d-flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navigation-ul{
	display: flex;
}
.navigation-ul li{
	margin-right: 15px;
}
.social-ul{
	display: flex;
}
.social-li::after{
	content: '';
	width: 2px;
	height: 25px;
	background-color:blue;
	display: inline-block;
	margin:0 15px;
	vertical-align: middle;
}
.social-li:last-child::after{
	display: none;
}
.social{
	font-size:25px;
}
.burger{
	font-size:25px;
	color: #363E97;
}
.burger-icon{
	border:1px solid #363E97;
	padding: 5px;
	display: none;
}
.right-block{
	display: flex;
}
/*Blue-bg section*/
.blue-bg{
	background:blue;
	padding: 50px 0;
}
.video-flex{
	display: flex;
	justify-content: space-between;
	/*align-items: center;*/
}
.video{
	max-width: 570px;
	width: 100%;
	height: 320px;
	background-color: #fff;
}
.video{
	display: flex;
	justify-content: center;
	align-items: center;
}
.video iframe{
	width: 100%;
	height: 100%;
}

/*grey-bg section*/
.grey-bg{
	background-color: #BDCCD4;
	padding: 50px 0;
}
.image-wraper img{
	width: 100%;
	display: block;
}
.image-wraper{
	margin-right: 10px;
}
.image-wraper h3{
	background-color: aqua;
	padding: 20px;
}
/*grey-lihgt bg*/
.grey-light-bg{
	background-color: #E6E6E6;
	padding: 50px 0;
}
.box-wraper{
	background-color: #F2F2F2;
	padding: 10px;
}
.box-flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.wraper-flex{
	display: flex;
	justify-content: space-between;
}
.wraper-flex img{
	max-width: 110px;
	width: 100%;
}
.wraper-flex p{
	width: 350px;
	margin-left: 30px;
}
.read{
	display: flex;
	justify-content: flex-end;
}

/*About-page*/
.image-float{
	float: left;
	margin-right:30px;
}
.text-box p{
	margin-bottom: 30px;
}




/*Responsive*/
@media (max-width: 1170px){
	.container{
		padding: 0 15px;
	}
	.video-flex{
		/*flex-wrap: wrap;
		justify-content: center;*/
		flex-direction: column;
		align-items: center;
	}
	.video:last-child{
		margin-top:30px;
	}
	.box-flex{
    	flex-wrap: wrap;
    }
}
@media (max-width: 1024px){
	.navigation{
		display: none;
	}
	.burger-icon{
		display: block;
		margin-left: 20px;
    }
    .image-wraper:last-child{
    	display: none;
    }
}
@media (max-width: 480px){
	.social-li:not(.active){
       display: none;
	}
	.wraper-flex{
		flex-direction:column;
	}
	.wraper-flex p{
		margin-left: 0;
	}
}
@media (max-width: 400px){
	.video p{
		font-size:18px;
		color:red;
	}
}