.container{
	max-width:1170px;
	width:100%;
	margin: 0 auto;
}
.logo img{
	width: 100px;
}
/*base classes*/
.d-flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.header-wraper{
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,207cca+32,2989d8+40,207cca+62,7db9e8+100 */
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e5799 0%, #207cca 32%, #2989d8 40%, #207cca 62%, #7db9e8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #1e5799 0%,#207cca 32%,#2989d8 40%,#207cca 62%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #1e5799 0%,#207cca 32%,#2989d8 40%,#207cca 62%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

}
.navigation-ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.navigation-ul li{
	margin-right: 15px;
}
.social-ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.social-li::after{
	content: '';
	width: 2px;
	height: 25px;
	background-color:blue;
	display: inline-block;
	margin:0 15px;
	vertical-align: middle;
}
.social-li:last-child::after{
	display: none;
}
.social{
	font-size:25px;
}
.burger{
	font-size:25px;
	color: #363E97;
}
.burger-icon{
	border:1px solid #363E97;
	padding: 5px;
	display: none;
}
.right-block{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
/*Blue-bg section*/
.blue-bg{
	background:blue;
	padding: 50px 0;
}
.video-flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	/*align-items: center;*/
}
.video{
	max-width: 570px;
	width: 100%;
	height: 320px;
	background-color: #fff;
}
.video{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.video iframe{
	width: 100%;
	height: 100%;
}

/*grey-bg section*/
.grey-bg{
	background-color: #BDCCD4;
	padding: 50px 0;
}
.image-wraper img{
	width: 270px;
	display: block;
}
.image-wraper{
	margin-right: 10px;
}
.image-wraper h3{
	background-color: aqua;
	padding: 20px;
}
.images-flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
/*grey-lihgt bg*/
.grey-light-bg{
	background-color: #E6E6E6;
	padding: 50px 0;
}
.box-wraper{
	background-color: #F2F2F2;
	padding: 10px;
}
.box-flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.wraper-flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.wraper-flex img{
	max-width: 110px;
	width: 100%;
}
.wraper-flex p{
	width: 350px;
	margin-left: 30px;
}
.read{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.bg-image{
	background-image: url('https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
	height: 300px;
	width: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
/*About-page*/
.image-float{
	float: left;
	margin-right:30px;
}
.text-box p{
	margin-bottom: 30px;
}


/*contact page*/
.form-wraper{
	max-width: 650px;
	width: 100%;
	margin:0 auto;
}
.form-group{
	margin-top:15px;
}
input{
	width: 100%;
	padding: 15px;
	border:none;	
	border-bottom: 1px solid green;
	/*background-color: transparent;*/
}
input::placeholder{
	color:aqua;
}
input:focus{
	outline: none;
}
textarea{
	width: 100%;
	resize: none;
}
.btn-submit{
	padding: 10px;
	background-color: red;
	font-size:22px;
	border:none;
}
.btn-submit:hover{
	background-color: aqua;
}
/*input[type=text]{
	width:100%;
}
input[type=password]{

}*/
/*Responsive*/
@media (max-width: 1170px){
	.container{
		padding: 0 15px;
	}
	.video-flex{
		/*flex-wrap: wrap;
		justify-content: center;*/
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.video:last-child{
		margin-top:30px;
	}
	.box-flex{
    	-ms-flex-wrap: wrap;
    	    flex-wrap: wrap;
    }
}
@media (max-width: 1024px){
	.navigation{
		display: none;
	}
	.burger-icon{
		display: block;
		margin-left: 20px;
    }
    .image-wraper:last-child{
    	display: none;
    }
    .image-wraper{
    	width: 32%;
    }
    .image-wraper img{
    	width: 100%;
    }
    .bg-image{
    	background-image: url('https://image.shutterstock.com/image-photo/beautiful-water-drop-on-dandelion-260nw-789676552.jpg');
    }
}
@media (max-width: 768px){
	.image-wraper{
		width: 48%;
	}
}
@media (max-width: 480px){

	.social-li:not(.active){
       display: none;
	}
	.wraper-flex{
		-webkit-box-orient:vertical;
		-webkit-box-direction:normal;
		    -ms-flex-direction:column;
		        flex-direction:column;
	}
	.wraper-flex p{
		margin-left: 0;
	}
	.image-wraper{
		width: 100%;
	}
}
@media (max-width: 400px){
	.video p{
		font-size:18px;
		color:red;
	}
}
